http://{$NC_DOMAIN} {
	encode zstd gzip
	reverse_proxy http://feedbin-backend:3000
        reverse_proxy /parser/* http://feedbin-backend:3001
        #tls /etc/caddy/certs/caddy.pem /etc/caddy/certs/caddy.key

	@signup {
		method POST
		path */users*
	}
	#respond @signup 403
}

http://api.{$NC_DOMAIN} {
	encode zstd gzip
	reverse_proxy http://127.0.0.1:3000 {
		header_up Host api.feedbin.com
	}
}

http://minio.{$NC_DOMAIN} {
	encode zstd gzip
	reverse_proxy $MINIO_HOST
}

http://privacy-please.{$NC_DOMAIN} {
	encode zstd gzip
	reverse_proxy http://127.0.0.1:3002
}
