[Unit]
DefaultDependencies=no
Conflicts=shutdown.target
After=local-fs.target
Before=sysinit.target shutdown.target

[Service]
ExecStart=/usr/sbin/feedbin-init ${TS_HOSTNAME}.${TS_TAILNAME}
Type=oneshot
RemainAfterExit=yes
